@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model E_Commerce_App.Models.Product

<h3>Add a new product</h3>

<form asp-controller="Product" asp-action="Add" method="post">
    <partial name="_MutualFields"></partial>

    <button type="submit">
        add product
    </button>
</form>

<div asp-validation-summary="All"></div>